<h1>Add a new parcel</h1>

<form action="/parcels" method="post">
  <div class="form-group">
    <label for="destination">Destination:</label>
    <input id="l" name="destination" class="form-control" type="text">
    <label for="length">Parcel length:</label>
    <input id="l" name="length" class="form-control" type="number">
    <label for="width">Parcel width:</label>
    <input id="l" name="width" class="form-control" type="number">
    <label for="height">Parcel height:</label>
    <input id="l" name="height" class="form-control" type="number">
    <label for="weight">Parcel weight:</label>
    <input id="l" name="weight" class="form-control" type="number">
  </div>
  <button type="submit" class="btn">Go!</button>
</form>
